body{
    margin: unset;
    font-size: large;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-left: 40px;
    color:#319850;
}

h3{
    margin-left: 40px;
    color:#983131;
}

h5{
    margin-left: 40px;
}
legend{
    
    margin-bottom: 40px;
}

label{
    margin: 5px;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
}

a {
    all: unset;
}

button{
    font-size: 14px;
    color: white;
    background-color:#983131;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 16px;
    width: 100px;
}

.divBotoes{
    align-self: center;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.option{
    width: 150px;
    height: 150px;
    margin: 8px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(148, 255, 110, 0.1);
    /*border: 0.2px solid gray;*/
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    /*background-color: #F5FFF2;*/
}

#botaoVoltar{
    color: inherit;
    text-decoration: none;
}

#botaoConfirmar{
    background-color: #779341;
}

footer{
    background-color: #319850;
}


